/* Write your CSS here */
.app-container {
  background-image: linear-gradient(to right, #ffffff, #cffcf1);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.timer-image-container {
  display: flex;

  align-items: center;
  width: 90%;
}
.timer-display-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  width: 350px;
  height: 250px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.elapsed-time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.elapsed-time {
  color: #00d9f5;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}
.time-state {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}
.items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.timer-controller-container {
  display: flex;
  align-items: center;
}

.timer-controller-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-right: 16px;
  margin-left: 16px;
  cursor: pointer;
  outline: none;
  padding: 0px;
}

.timer-controller-icon {
  width: 24px;
  height: 25px;
  margin-right: 8px;
}

.timer-controller-label {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
}
.timer-limit-controller-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.limit-label {
  color: #1e293b;
  font-size: 15px;
  font-weight: 500;
}

.timer-limit-controller {
  display: flex;
  align-items: center;
}
.limit-controller-button {
  color: #1e293b;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 500;
  border: none;
  margin: 10px;
  cursor: pointer;
  outline: none;
}
.limit-label-and-value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.limit-value {
  text-align: center;
  color: #1e293b;
  background-color: #00d9f5;
  font-family: 'Roboto';
  font-size: 30px;
  width: 100px;
  border-radius: 10px;
  padding: 10px;
  margin: 0px;
  font-weight: 500;
}
